body{
	font-family:helvetica;
}
span{
	color: blue;
}
.imageOfPierre{
	margin-left:38%; 
}
.homePierre{
	text-align: left;
}
.container-fluid{
	background-color: black;
}
.homePierre h2{
	text-align: center;
}
a{
	color: white;
}

